/HTML5Application/nbproject/private/
/HTML5Application1/nbproject/private/
/ProjectWebsite/nbproject/private/
/CrazyWebsite/nbproject/private/
/ROckPaperScissorsProject/nbproject/private/
/WebSiteMainProject/.vs/WebSiteMainProject/FileContentIndex/
/FlaskWebProject1/.vs/FlaskWebProject1/FileContentIndex/0fb2a44e-aa27-42b1-9cb7-a5c92e6e4feb.vsidx
/FlaskWebProject1/.vs/FlaskWebProject1/FileContentIndex/19456a8b-7d1a-4158-ae5d-63e962d2e332.vsidx
/FlaskWebProject1/.vs/FlaskWebProject1/FileContentIndex/2d58172b-bba4-4b67-bbe0-d28f29ea6e7e.vsidx
/FlaskWebProject1/.vs/FlaskWebProject1/FileContentIndex/358d404c-fd6f-40fa-bc2c-d17ed06b0a71.vsidx
/FlaskWebProject1/.vs/FlaskWebProject1/FileContentIndex/4d4e448f-9658-47ab-bd1c-1f7ff231a43d.vsidx
/FlaskWebProject1/.vs/FlaskWebProject1/FileContentIndex/69b431d0-31c9-4324-b8f5-7a18f0ecf2a8.vsidx
/FlaskWebProject1/.vs/FlaskWebProject1/FileContentIndex/6d7ba242-b50d-46ed-9aae-67b1c7ce1712.vsidx
/FlaskWebProject1/.vs/FlaskWebProject1/FileContentIndex/7a288175-b04f-4f89-baa6-f17c71747e77.vsidx
/FlaskWebProject1/.vs/FlaskWebProject1/FileContentIndex/c78899cd-100e-4ee2-beb1-c9bdaf8c39ab.vsidx
/FlaskWebProject1/.vs/FlaskWebProject1/FileContentIndex/ef117318-4c14-42dc-ba5c-4c0216c31169.vsidx
/FlaskWebProject1/.vs/FlaskWebProject1/v17/.suo
/FlaskWebProject1/.vs/FlaskWebProject1/v17/DocumentLayout.backup.json
/FlaskWebProject1/.vs/FlaskWebProject1/v17/DocumentLayout.json
/FlaskWebProject1/.vs/FlaskWebProject1/FileContentIndex
