<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block ttitle %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/layout.css" />
    <script src="../static/scripts/layout.js"></script>
</head>

<body>
    <table class="topbar">
        <tr>
            <td class="left-options">
                {% if username != "Guest" %}
                <a href="/getQuizView">quiz list</a>
                <a href="/create">create a new quiz</a>
                {% endif %}
            </td>
            <td class="logo">
                <a href="/">YJ-Quiz</a>
            </td>
            <td class="right-options">
                <a>hello: {{ username }}!</a>
                {% if is_admin == True %}
                <a href="/users">User Management</a>
                {% endif %}
                {% if username == "Guest" %}
                <a href="/signup">Sign In</a>
                <a href="/login">Log In</a>
                {% else %}
                <a href="/logout">Logout</a>
                {% endif %}
            </td>
        </tr>
    </table>
    {% block styles %}{% endblock %}
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>