{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='quizView.css') }}">
{% endblock %}

{% block content %}
<div id="content">
    <!-- Quiz content will be dynamically loaded here -->
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='quizView.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        initialize_quizes();
    });
</script>
{% endblock %}