{% extends "layout.html" %}

{% block styles %}
<link href="../static/styles/quizCreation.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Quiz Creation</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="quizForm" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="quizName">Quiz Name</label>
                            <input type="text" class="form-control" id="quizName" name="quizName" placeholder="Enter quiz name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="quizDescription">Quiz Description</label>
                            <input type="text" class="form-control" id="quizDescription" name="quizDescription" placeholder="Enter quiz description">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="quizImage">Quiz Image</label>
                            <input type="file" class="form-control" id="quizImage" name="quizImage" accept="image/*">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="button" onclick="openQuestionForm()">Add Question</button>
                            <ul id="questionList"></ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="questionForm" style="display: none;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="question">Question:</label>
                            <input type="text" id="question" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="options">Options (each on a separate line):</label>
                            <textarea id="options" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="answer">Correct Answer</label>
                            <input type="text" id="answer" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="../static/scripts/quizCreation.js"></script>
{% endblock %}