{% extends "layout.html" %}

{% block title %} YJ-Quiz Signup {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="../static/styles/signup.css" />
{% endblock %}

{% block content %}
<div class="signup">
    <div class="signup-container">
        <h1>Signup</h1>
        <form method="post" action="{{ url_for('auth.signup') }}" onsubmit="return signup_final()">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required />
            <p id="usernameErr" class="error"></p>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
            <p id="passwordErr" class="error"></p>

            <label for="passwordCopy">Enter The Selected Password:</label>
            <input type="password" id="passwordCopy" name="passwordCopy" required/>
            <p id="passwordCopyErr" class="error"></p>
            
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required />
            <p id="firstNameErr" class="error"></p>

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required />
            <p id="lastNameErr" class="error"></p>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />
            <p id="emailErr" class="error"></p>

            <input type="submit" value="Submit" />
            <input type="reset" />
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="../static/scripts/signup.js"></script>
{% endblock %}