{% extends "layout.html" %}

{% block content %}

    <!--<script src="../static/main.js"></script>
    <div class="topnav">
        <a class="active" href="#home">HYJBM-Quiz</a>
        <a onclick="openPage('/signup')">Sign up</a>
        <a onclick="openForm('loginForm'); closeForm('signUpForm')">
            Log in
        </a>
        <a onclick="openForm('menageWindow')">Manage website</a>
    </div>
    <div class="sidebar">
        <a href="#create">Create a new quiz</a>
        <a href="#contact">Log in</a>
        <a href="#contact">Menage website</a>
    </div>-->
    <div id="videoContainer" class="">

    </div>
    <!--<div class="form-popup" id="loginForm">
        <form action="/action_page.php" class="form-container">
            <h1>Login</h1>
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <button type="submit" class="btn">Login</button>
            <button type="button" class="btn cancel" onclick="closeForm('loginForm')">Close</button>
        </form>
    </div>-->

{% endblock %}