<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Flask Application</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <script src="../static/main.js"></script>
</head>

<body>
    <div class="topnav">
        <a class="active" onclick="openPage('/home')">HYJBM-Quiz</a>
        <a onclick="openPage('/signup')">Sign up</a>
        <a onclick="openPage('/login')">
            Log in
        </a>
        <a onclick="openForm('menageWindow')">Manage website</a>
    </div>
    <div class="sidebar">
        <a href="#create">Create a new quiz</a>
    </div>
    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - My Flask Application</p>
        </footer>
    </div>
    {% block scripts %}{% endblock %}

</body>
</html>
